@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

:root {
    --primary: #396dff;
    --grey: #f7f7f7;
    --white: #fff;
  
    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
  }


.imageSelf {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 100%;

    border-radius: 50%;
    background-image: url(https://img2.huashi6.com/images/resource/thumbnail/2022/04/04/22611_17127724630.jpg?imageMogr2/quality/100/interlace/1/thumbnail/2000x%3E);

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
}

.imageHead{
    padding: 0 30%;
}

.navContainer{
    padding:8px 16px;
    background-color: #fc9;
}
.navTitle{
    color:#FFF;
    margin:0;
}

.para{
    display: flex;
    justify-content: center;
    text-align: center;
}

.subcontainer{
    flex-basis: 0;
    flex-grow: 1;
    font-size: 1.6em;
    font-weight: 300;
}

html, body{
    margin:0;
    font-family: "Open Sans", sans-serif;
}
.linking{
    color: #FC9;
}

.appContainer{
  max-width: 960px;
  padding: var(--m) var(--m);
  margin: auto;
}

.name{
    text-align: center;
    font-size: 2.4em;
  font-weight: 300;
}

.subtitle{
    font-size: 1.6em;
}

.sImg{
    vertical-align: middle;
    display: inline-block;
    border-radius: 20%;
}