@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

:root {
    --primary: #396dff;
    --grey: #f7f7f7;
    --white: #fff;
  
    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
  }


.imageSelf {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 100%;

    border-radius: 50%;
    background-image: url(https://img2.huashi6.com/images/resource/thumbnail/2022/04/04/22611_17127724630.jpg?imageMogr2/quality/100/interlace/1/thumbnail/2000x%3E);

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
}

.imageHead{
    padding: 0 30%;
}

.navContainer{
    padding:8px 16px;
    background-color: #fc9;
}
.navTitle{
    color:#FFF;
    margin:0;
    display: inline-block;
}

.para{
    display: flex;
    justify-content: center;
    text-align: center;
}

.subcontainer{
    flex-basis: 0;
    flex-grow: 1;
    font-size: 1.6em;
    font-weight: 300;
}

html, body{
    margin:0;
    font-family: "Open Sans", sans-serif;
}
.linking:hover{
    color: #FC9;
}
.linking:link{
    color: #d40045;
}
.linking:visited{
    color: #d00000;
}
*::selection{
    background-color: #A99DBA;
    color: white;
    text-shadow: none;
}
.appContainer{
  max-width: 960px;
  padding: var(--m) var(--m);
  margin: auto;
}

.name{
    text-align: center;
    font-size: 2.4em;
  font-weight: 300;
}

.subtitle{
    font-size: 1.6em;
}

.sImg{
    vertical-align: middle;
    display: inline-block;
    border-radius: 20%;
}
.navPara{
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.navSubcontainer{
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 4px;
}
.navSubcontainer>a{
    font-size: 1.6em;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.navSubcontainer  a::before{
    content: "";
    border-left: 2px solid #fff;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 100%;
    transition: all 0.2s ease-out 0s;
    transform: scaleY(0);
    transform-origin: center top;
}
.navSubcontainer a:hover::before{
    transform: none;
}
.navSubcontainer a::after{
    content: "";
    border-bottom: 2px solid #fff;
    width: 100%;
    transition: all 0.2s ease-out 0s;
    transform: scaleX(0);
    display: block;
}
.navSubcontainer a:hover::after{
    transform: none;
}
.hr {
    color: #A99DBA
}